body {
     margin: 0;
     padding: 0;
     background-color: #F2F2F2;
}

a, p, ul, div, dt {
   font-family: sans-serif;
}

a img {
  border: 0;
}

a {
  text-decoration: none;
  color: #00488F;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

h1 {
   margin: 5px;
   padding: 10px;
   padding-left: 50px;
   background: #00488F url('im-jabber.png') no-repeat;
   background-position: left center;
   color: white;
   font-size: 48px;
}

h1 a {
   color: #DDDD8F
}

dl {
   float: right;
   width: 25%;
   margin: 10px;
}

dt {
   font-weight: bold;
   margin-top: 20px;
}

dd {
   margin-top: 10px;
}

dd ul, dd {
   padding: 0;
   list-style-type: none;
   margin: 5px;
}  

li {
   margin: 3px;
   padding: 0;
}

#contents {
   margin: 10px;
   margin-left: 30px;
   margin-right: 30%;
}

p {
  margin-bottom: 10px;
}

pre {
    margin-left: 30px;
    font-size: 14px;
}
